#toolbar-menubar {
    display: none !important;
}

#TabsToolbar,
#nav-bar {
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}

#nav-bar {
    order: 1 !important;
}
#TabsToolbar {
    order: 2 !important;
}

#titlebar,
#navigator-toolbox {
    display: flex !important;
    flex-direction: row !important;
}

#navigator-toolbox > toolbar {
    min-height: 32px !important;
}

#TabsToolbar .titlebar-buttonbox-container {
    display: none !important;
}

#tabbrowser-tabs {
    margin-left: 4px !important;
}

#PanelUI-button {
    order: -10 !important; /* move to far left */
}

/* back + forward */
#back-button,
#forward-button {
    display: none !important;
}

/* bookmark star */
#star-button,
#star-button-box {
    display: none !important;
}

#urlbar-menu-button,
#pageActionButton,
#page-action-buttons {
    display: none !important;
}

